{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "ios >= 9",
            "android >= 4"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ]
}
